* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dash {
    color: #1A2B88;
}

.navbar-brand img {
    margin-inline-end: 100px;
}

nav p {
    font-size: 20px;
    color: #A7A7A7;
}

nav {
    height: 102px;
    border-bottom: 1px solid #E8E8E8;
background: #FFF;
}

section {
    width: 330px;
    height: 922px;
    padding-top: 24px;
    border-right: 1px solid #E8E8E8;
background: #FFF;
box-shadow: 0px 20px 50px 0px rgba(220, 224, 249, 0.50);
}

td p {
    margin-bottom: 0 !important;
}



.permanent {
    border-radius: 4px;
background: rgba(22, 192, 152, 0.20);
}

.hr {
    font-size: 13px;
    color: #A4A4A4;
}

table tr:nth-child(2) td {
    padding-top: 52px;
}

section p {
    font-size: 18.97px;
    letter-spacing: 0.19px;
    color: #0C0C0D;
}

table tr:nth-child(3) td {
    padding-top: 48px;
}
table tr:nth-child(4) td {
    padding-top: 48px;
}
table tr:nth-child(5) td {
    padding-top: 48px;
}
table tr:nth-child(6) td {
    padding-top: 48px;
}
table tr:nth-child(7) td {
    padding-top: 48px;
}
table tr:nth-child(8) td {
    padding-top: 83px;
}

table tr:nth-child(9) td {
    padding-top: 48px;
}

main {
    width: 100%;
    margin-inline-start: 41px;
    margin-top: 41px;
}

.inline-box {
height: 139px;
border-radius: 6px;
border: 2px solid #ECEEF6;
background: #FFF;
padding: 25px 0px 22px 30px;
}

article img {
    width: 100% !important;
    height: 100% !important;
}

.status-2 img {
    width: 50%;
    height: 172px; 
    margin-inline: auto;
}

.status div:first-of-type {
    align-items: center;
}

.section-image {
    top: 118px;
}

.number-1 {
  left: 10px;
  top: 30px;
} 

.number-2 {
  bottom: 0;
  right: 0;
}

main span {
    font-weight: 700;
    font-size: 16px;
    color: #343434;
    text-transform: capitalize;
}

.text-3 {
    border-radius: 50px;
    background: rgba(35, 193, 10, 0.15);
color: #0B8A00;
font-size: 14px;
       }

       .text-4 {
        background-color: rgba(199, 16, 38, 0.4);
        border-radius: 50px;
        color: rgb(199, 16, 38);
       }

       .row-class-1 span+p {
        color: #232323;
font-size: 28px;
font-weight: 700;
letter-spacing: 0.28px;
margin-bottom: 0;
}

.row-class-1 span+p+p {
    color: #949494;
font-size: 14px;
letter-spacing: 0.14px;
}

article {
    width: 100%;
    height: 362px;
    border-radius: 6px;
border: 2px solid #ECEEF6;
background: #FFF;
}

article > div p, h2, svg {
    margin-block: 0 !important;
}

article > div > div {
    width: 16px;
    height: 16px;
    border-radius: 2px;
background: #5932EA;
}

article > div :not(h3) {
    font-size: 14px;
}

article p:nth-last-child(2) {
    color: #1A2B88;
    font-weight: 700; 
}
  

.status {
    border-radius: 6px;
border: 1.812px solid #ECEEF6;
background: #FFF;
height: 295px;
}

.status-2 {
    border-radius: 6px;
border: 1.812px solid #ECEEF6;
background: #FFF;
height: 295px;
}

.status table th {
    width: 25%;
} 

.status table td:first-child {
    width: 5%;
}

.status table td {
width: 20%;
} 

.line-1 {
    color: #000;
font-size: 20.296px;
font-weight: 700;
letter-spacing: 0.203px;
}

.line-1+p {
    color: #1A2B88;
text-align: center;
font-size: 12.683px;
font-weight: 700;
letter-spacing: 0.127px;
}

.status th {
    color: #949494;
font-size: 14.495px;
letter-spacing: 0.145px;
}


 .status table tr:nth-child(2) td {
    padding-top: 33px;
}

 .status table tr:nth-child(3) td {
    padding-top: 0px;
}

 .status table tr:nth-child(4) td {
    padding-top: 0px;
}

.status table {
    width: 100%;
}

.status table td {
    color: #000;
font-size: 14.495px;
font-weight: 700;
}

.status table td > span {
    display: inline-block;
}

.status table th:nth-child(4) {
    text-align: start;
}

.status table th:nth-child(2), .status td:nth-child(3)    {
   padding-left: 30px;
}

.status table th:nth-child(3), .status td:nth-child(4)    {
   padding-left: 15px;
}

.status table td:nth-child(4) {
    text-align: start;
}
.status table td:nth-child(5) {
    text-align: start;
}



.info-1 {
    border-radius: 4px;
background: rgba(22, 192, 152, 0.20);
}

.status table th:nth-child(5) {
    text-align: end;
}
 

.status table tr:nth-child(3) td:last-child span {
    color: #5C5C5C;
font-size: 14px;
font-weight: 700;
border-radius: 4px;
background: rgba(175, 175, 175, 0.20);
padding-right: 10px;
}

@media screen and (max-width: 768px) {
    section {
        margin: 0 !important;
        margin-inline: auto !important;
        width: 100%;
        border-right: none;
    }

    section table {
        margin-inline: auto;
    }

    main {
        margin: 0 !important;
        margin-inline: auto !important;
    }

    main>div {
        text-align: center;
    }

    .status table td {
      text-align: center;
    }

    .status table tr:first-child th:nth-child(3) {
        padding: 0px 1px;
    }
   
    .status table tr:last-child td:first-child {
        text-align: center;
        transform: translate(-5%) !important;
    }

  

    .status table th {
        border: 1px solid #1A2B88 ;
    }

    .status table  td {
        border: 1px solid #1A2B88;
      padding-top: 0 !important;
    }

    .status table td:nth-child(4) {
        text-align: center;
        transform: translate(0);
    }

    
    nav p {
        position: absolute;
        left: 50%;
        top: 70px;
        transform: translate(-50%);
    }
    
     .status table tr td,th {
        font-size: 11px !important;
        padding-left: 0 !important;
    }
    
    article {
        height: auto;
    }

    article p:first-of-type {
        margin-inline: 0 !important;
    }

}